body, html {
  background-color: #FAF8F4;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  display: block;
  line-height: 1.5;
}

.main {
  padding: 20px;
}

.title {
  margin: 50px 0;
  font-size: 44px;
  color: #4E4F68;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.title small {
  font-size: 15px;
  display: block;
}

.flag {
  height: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.flag div {
  display: block;
  height: 10px;;
}

.flag-red {
  background-color: #C8102E;
  flex-grow: 4;
}
.flag-blue {
  background-color: #001489;
  flex-grow: 2;
}
.flag-white {
  background-color: #FFF;
  flex-grow: 1;
}

.description {
  color: #938FA4;
  line-height: 1.5;
  margin-bottom: 50px;
}

.slider {
  margin-bottom: 50px;
}

.mySlides {display:none;}

.slider img {
  border-radius: 20px;
  border:solid 5px #FFF;
  margin: 0 auto;
  width: 80%;
  box-shadow: 0px 0px 9px 0px rgba(222, 222, 222,1);
}

.bullets {
  text-align: center;
}

.bullets button {
  color: #a3a3a7;
  font-size: 70px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.download-bagdes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.download-bagdes a img {
  width: 130px;
}

.official-flagdays-container {
  background-color: #FFF;
}

.official-flagdays {
  padding: 20px;
  background-color: #FFF;
  color: #525252;
}

.flagday {
  margin-bottom: 50px;
  line-height: 1.5;
}

.flagday-date {
  font-weight: bold;
  font-size: 20px;
}

.flagday-description {
  font-size: 15px;
}

footer {
  text-align: center;
  padding: 50px 0;
  color: #938FA4;
}

footer a {
  color: #006666;
}

@media (min-width: 768px) {
  .main,
  .official-flagdays,
  footer {
    max-width: 900px;
    margin: 0 auto;
  }

  .top {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }

  .slider img {
    width: 50%;
  }
  .title {
    text-align: left;
    margin-top: 0;
  }
}